/*Agregar etiqueta meta*/
/*MODAL*/
/*.modal-content{
	border-radius: 0!important;
}

.header_container{
	position: relative;
	height: 236px; 
	margin: -15px;
}
.header_container .header_background{
	position: absolute;
	width: 100%;
	height: 236px; 
	left: 0;
	top: 0;
}
.header_container .header_picture{
	position: absolute;
	top: 90px;
	left: 15px;
	width: 100px;

}
.header_container .header_title{
	position: absolute;
	bottom: 0;
	left: 15px;
	font-size: 1.2em;
	color: white;
}

.header_container .close{
	position: absolute!important;
	top: 15px;
	right: 15px;
	color: white;
	z-index: 1;
	font-size: 2.2em!important;
}*/
/*.modal-body{
	padding: 0!important;
}*/

/*.modal-body .info-box{
	box-shadow: 0 0 0!important;
	margin: 0!important;
	border-bottom: thin solid #f4f4f4;
}*/

/*.info-box-4 {

  border-bottom: thin solid #f4f4f4;
  height: 70px;
  display: flex;
  cursor: default;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px; }
  .info-box-4 .icon {
    position: absolute;
    right: 10px;
    bottom: 2px;
    text-align: center; }
    .info-box-4 .icon i {
      color: rgba(0, 0, 0, 0.15);
      font-size: 40px; }
  
  

  .info-box-4 .content {
    display: inline-block;
    padding: 7px 16px; }
    .info-box-4 .content .text {
      font-size: 11px;
      margin-top: 11px;
      color: #555; }
    .info-box-4 .content .number {
      font-weight: normal;
      font-size: 18px;
      margin-top: -4px;
      color: #555; }

.info-box-4.hover-zoom-effect .icon i {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.info-box-4.hover-zoom-effect:hover .icon i {
  opacity: 0.4;
  -moz-transform: rotate(-32deg) scale(1.4);
  -ms-transform: rotate(-32deg) scale(1.4);
  -o-transform: rotate(-32deg) scale(1.4);
  -webkit-transform: rotate(-32deg) scale(1.4);
  transform: rotate(-32deg) scale(1.4); }

.info-box-4.hover-expand-effect:after {
  background-color: rgba(0, 0, 0, 0.05);
  content: ".";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  color: transparent;
  -moz-transition: all 0.95s;
  -o-transition: all 0.95s;
  -webkit-transition: all 0.95s;
  transition: all 0.95s; }

.info-box-4.hover-expand-effect:hover:after {
  width: 100%; }

.col-orange {
  color: #FF9800 !important; }*/


#normal_table_modal .header_background_modal{
  	width: calc(100% + 2rem);
  	height: 260px;
	margin: -1rem;
}
  
.header_container_modal{
	position: relative;
}
.header_container_modal .modal-title{
	position: absolute;!important;
  	bottom: 0!important;
  	left: 0!important;
  	color: white;
}
.header_container_modal .close{
	position: absolute;!important;
  	top: 0!important;
  	right: 0!important;
}
.header_container_modal .header_picture_modal{
	position: absolute;!important;
  	top: 0!important;
  	left: 0!important;
  	width: 20%;
}

#normal_table_modal th{
	color: white;
	background-color: rgb(244,154,16);
}
#normal_table_modal .modal-footer{
	border-top: 0!important;
}

#normal_table_modal .material-icons{
	color: rgb(16,145,211);
}
